@import "../colors.scss";
@import "../breakpoint.scss";

#PodOferta {
  text-align: center;

  .title {
    padding: 1.618rem;
  }

  .center {
    margin: auto;
  }

  @media (min-width: $breakpoint) {
    .desktop-reverse {
      flex-direction: row-reverse;
    }
  }

  img {
    width: 100%;
    padding: 1.618rem;
  }

  ul {
    text-align: left;
  }
}
