@import "../colors.scss";
@import "../breakpoint.scss";

#PodOferta {
  text-align: center;

  .center {
    margin: auto;
  }
  .title {
    @media (max-width: $breakpoint) {
      position: absolute;
      z-index: 1;
      top: 104px;
      width: 100%;
      padding: 2rem;
      background: $orange-web;
      color: $oxford-blue;
    }
  }

  @media (min-width: $breakpoint) {
    .desktop-reverse {
      flex-direction: row-reverse;
    }
  }

  img {
    width: 100%;
    padding: 1.618rem;
  }

  ul {
    text-align: left;
    list-style-type: none;

    li:before {
      content: "✔️  ";
    }
  }
}
