$black: #000000ff;
$oxford-blue: #14213dff;
$orange-web: #fca311ff;
$platinum: #e5e5e5ff;
$white: #ffffffff;
$danger: #d9534f;
$success: #28a745;

.bg-blue {
    background: $oxford-blue;
}

.bg-orange {
    background: $orange-web;
}

.text-blue {
    color: $oxford-blue;
}

.text-orange {
    color: $orange-web;
}