@import "./colors.scss";

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url(/Montserrat.woff2) format("woff2");
}

html {
  background: $oxford-blue;
}

body {
  padding: 0;
  margin: 0;
  background: $platinum;
  font-family: Montserrat;
  max-width: 100vw;
  overflow-x: hidden;
}

a,
a:hover {
  text-decoration: none;
}

.center {
    margin: auto;
}