@import "./colors.scss";

html {
    background: $oxford-blue;
}

body {
  padding: 0;
  margin: 0;
  background: $platinum;
}

a,
a:hover {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: $orange-web;
  filter: invert(25%);

  &:hover {
    filter: invert(25%);
  }
}

::-webkit-scrollbar-track {
  background: $oxford-blue;
}

.bg-blue {
    background: $oxford-blue;
}

.bg-orange {
    background: $orange-web;
}

.text-blue {
    color: $oxford-blue;
}

.text-orange {
    color: $orange-web;
}