@import "colors.scss";
@import "breakpoint.scss";

#Nav {
  background: $oxford-blue;
  position: relative;
  z-index: 50;
  white-space: nowrap;

  a {
    color: $orange-web;
  }

  @media (min-width: $breakpoint) {
    .logo {
      margin: auto;
      text-align: center;
    }

    .menu {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      a {
        padding: 40px 20px;
        flex-basis: unset;

        &:hover,
        &.active {
          color: $oxford-blue;
          background: $orange-web;
        }
      }
    }

    .toggler,
    .seperator {
      display: none;
    }
  }

  @media (max-width: $breakpoint) {
    text-align: center;

    &:not(.show) {
      &.not-first-page .menu {
        animation: disappear 0.5s ease-in forwards;
      }

      &:not(.not-first-page) .menu {
        display: none;
      }
    }

    .logo {
      h1 {
        margin: 1rem;
      }
    }

    .toggler {
      width: 3rem;
      height: 3rem;
      background: $orange-web;
      position: absolute;
      top: 1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      z-index: 52;

      div {
        height: 10%;
        width: 80%;
        background: $oxford-blue;
        margin: 0 auto;
      }
    }

    .menu {
      // fullscreen
      position: fixed;
      z-index: 51;
      height: 100vh;
      animation: appear 0.5s ease-out forwards;

      // ordering
      display: flex;
      flex-direction: column;
      justify-content: center;
      background: $orange-web;

      a {
        padding: 1rem;
        color: $oxford-blue;

        // give nice dividers
        border-bottom: 1px solid $oxford-blue;
        &:nth-last-child(1) {
          border-bottom: none;
        }
      }
    }

    // toggler animation
    &.show {
      .toggler {
        position: fixed;
        transform: scale(1.5);
        div {
          transition: all 0.5s;
          &:nth-child(2) {
            display: none;
          }

          &:nth-child(1) {
            transform: rotate(-135deg) translateY(-12px);
          }
          &:nth-child(3) {
            transform: rotate(135deg) translateY(12px);
          }
        }
      }
    }

    &:not(.show) {
      .toggler {
        div {
          transition: all 0.5s;
        }

        &.not-first-page {
          div:nth-child(2) {
            animation: disguiseSpinner 0.6s;
          }
        }
      }
    }
  }
}

@keyframes disguiseSpinner {
  from {
    transform: rotate(-180deg) scale(1.5);
    opacity: 0;
  }
}

@keyframes disappear {
  from {
    top: 0vh;
  }
  to {
    top: -100vh;
  }
}

@keyframes appear {
  from {
    top: -100vh;
  }

  to {
    top: 0vh;
  }
}
